# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Data and Models (Crucial for credit risk data)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.pkl
*.joblib
*.csv

# IDEs
.vscode/
.idea/
